<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>{$info['id']?'编辑':'新增'}案件管理</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">案件节点<span class="check-tips">（案件状态 'case_status'）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="node" value="{$info.node|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">案件节点名</label>
			<div class="controls">
				<input type="text" class="text input-large" name="node_name" value="{$info.node_name|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">执行行为的时间<span class="check-tips">（以小时为单位）</span></label>
			<div class="controls">
				<input type="text" class="text input-small" name="execute_time" value="{$info.execute_time|default='24'}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">提醒时间<span class="check-tips">（以小时为单位）</span></label>
			<div class="controls">
				<input type="text" class="text input-small" name="warn_time" value="{$info.warn_time|default='5'}">
			</div>
		</div>
		<div class="form-item">
			<input type="hidden" name="id" value="{$info.id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
