<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>案件管理</h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:U('add','pid='.$pid)}">新 增</a>
		<a class="btn" href="javascript:;">删 除</a>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<th class="row-selected">
						<input class="checkbox check-all" type="checkbox">
					</th>
					<th>ID</th>
					<th>案件节点</th>
					<th>案件节点名</th>
					<th>执行行为的时间</th>
					<th>提醒时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="manage">
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="" id="" value="{$manage['id']}"> </td>
						<td>{$manage.id}</td>
						<td>{$manage.node}</td>
						<td>{$manage.node_name}</td>
						<td>{$manage.execute_time}小时</td>
						<td>{$manage.warn_time}小时</td>
						<td>
							<a title="编辑" href="{:U('edit?id='.$manage['id'])}">编辑</a>
							<a href="{:U('status?ids='.$manage['id'].'&status='.abs(1-$manage['status']))}" class="ajax-get">{$manage.status|show_status_op}</a>
							<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$manage['id'])}">删除</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
	</div>
</block>

<block name="script">
<script type="text/javascript">
    $(function() {
    	//点击排序
    	$('.list_sort').click(function(){
    		var url = $(this).attr('url');
    		var ids = $('.ids:checked');
    		var param = '';
    		if(ids.length > 0){
    			var str = new Array();
    			ids.each(function(){
    				str.push($(this).val());
    			});
    			param = str.join(',');
    		}

    		if(url != undefined && url != ''){
    			window.location.href = url + '/ids/' + param;
    		}
    	});
    });
</script>
</block>