<extend name="Public/base1"/>

<!-- <block name="sidebar"></block> -->

<block name="style">
<style>
body{padding: 0}
</style>
</block>

<block name="body">
    <!-- 主体 -->
    <!-- <div id="indexMain" class="index-main"> -->
       <!-- 插件块 -->
       <!-- <div class="container-span">{:hook('AdminIndex')}</div>
    </div> -->
<!--     <div>
        <div class="bottom-erji" style="top:50px;position:fixed;left:0;right:0">
            <ul>
                <li><a href="{:U('Index/index')}">所有案件</a></li>
                <li class="active"><a href="{:U('Case/daichu')}">待处理</a></li>
                <li><a href="{:U('Case/wancheng')}">完成处理</a></li>
                <li><a href="{:U('Case/zaichu')}">正在处理</a></li>
                <li><a href="{:U('Case/guidang')}">归档案件</a></li>
            </ul>
            <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
            </div>
        </div>
        </div>
    </div>
    <div class="main-title" style="margin-top:63px">
    </div> -->
    <div class="cf">
        <!-- <div class="fl">
            <a class="btn" href="{:U('User/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('User/changeStatus',array('method'=>'deleteUser'))}" target-form="ids">删 除</button>
        </div> -->

        <!-- 高级搜索 -->
        
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped" >
    <table class="">
    <thead>
       <tr><th colspan="13" style="text-align:center">社会保护人员基本信息</th></tr>
        <tr>
        <th class="">序号</th>
        <th class="">登记时间</th>
        <th >姓名</th>
        <th >性别</th>
        <th >年龄</th>
        <th >民族</th>
        <th >家庭区域</th>
        <th >健康状况</th> 
        <th class="" >摸底上报风险等级</th>
        <th class="" >机构评估风险等级</th>
        <th class="" >帮扶后最高风险等级</th>
        <th class="" >流程</th>
        <th class="" >操作</th>
        </tr>
    </thead>
    <tbody>
    <?php
        if (isset($CaseList) && !empty($CaseList)) { 
         foreach ((array)$CaseList as $k => $v) { ?>
    <tr>
        <td><?php echo $k+1?></td>
        <td><?php echo date("Y-m-d",$v['fill_in_time'])?></td>
        <td><?php echo $v['name']?></td>
        <td><?php echo getSex($v['sex'])?></td>
        <td><?php echo getAge($v['birthday'])?></td>
        <td><?php echo $v['nation']?></td>
        <td><?php echo getPraName($v['home_pro_code']) . '-' . getPraName($v['home_city_code']) . '-' . getPraName($v['home_area_code']);?></td>
        <td><?php
            if ($v['health'] == 1) {
                echo '健康';
            } else {
                $health = unserialize($v['health']);
                foreach ($health as $val) {
                    echo getHealth($val,$v['id']);
                }
            } ?>
        </td>
        <td><?php echo getMaxFengxian(unserialize($v['growth_dilemma']));?></td>
        <td><?php echo getMaxFengxian(unserialize($v['growth_dilemmas']));?></td>
        <td><?php echo getMaxFengxian(unserialize($v['growth_dilemmass']));?></td>
        <?php
            $turn_related = M('case')->where(array('id'=>$v['id']))->getField('turn_related');
        ?>

        <td>
            {:getProcess($v['case_status'], $v['stage_status'])}
        </td>

        <td>
            <?php if(($v['case_status'] == 'jiean' && IS_AUTH) || ($v['case_status'] == 'huifang' && IS_AUTH)){?>
            <span style="color:#A0A0A0">完成</span>
            <a href="index.php?s=/Case/visit/id/<?php echo $v['id'];?>/act/huifang.html">查看</a>
            <?php }else if(($v['case_status'] == 'weihuifang' && isAuth($v['case_status']))){?>
            <a href="index.php?s=/Case/visit/id/<?php echo $v['id'];?>/act/huifang.html">回访</a>
            <?php }else if($v['case_status'] == 'weihuifang' && !isAuth($v['case_status'])){?>
            <span style="color:#A0A0A0">回访</span>
            <?php }else if(($v['case_status'] == 'chuzhi' && isAuth($v['case_status']))){?>
            <a href="index.php?s=/Case/finish/id/<?php echo $v['id'];?>/act/jiean.html">结案</a>
            <?php }else if($v['case_status'] == 'chuzhi' && !isAuth($v['case_status'])){?>
            <span style="color:#A0A0A0">结案</span>
            <?php }else if(($v['case_status'] == 'diaodu' && isAuth($v['case_status'])) || ($v['case_status'] == 'diaodu' && isAuth($v['case_status']))){?>
            <a href="index.php?s=/Case/deal_with/id/<?php echo $v['id'];?>/act/chuzhi.html">处置</a>
            <?php }else if(($v['case_status'] == 'diaodu' && !isAuth($v['case_status'])) || ($v['case_status'] == 'diaodu' && !isAuth($v['case_status']))){?>
            <span style="color:#A0A0A0">处置</span>
            <?php }else if(($v['case_status'] == 'shenpi' && isAuth($v['case_status'])) || ($v['case_status'] == 'bohuiCz' && isAuth($v['case_status']))){?>
            <a href="index.php?s=/Case/dispatch/id/<?php echo $v['id'];?>/act/diaodu.html">调度</a>
            <?php }else if(($v['case_status'] == 'shenpi' && !isAuth($v['case_status'])) || ($v['case_status'] == 'bohuiCz' && !isAuth($v['case_status']))){?>
            <span style="color:#A0A0A0">调度</span>
            <?php }else if(($v['case_status'] == 'chushen' && isAuth($v['case_status']))){?>
            <a href="index.php?s=/Case/last_instance/id/<?php echo $v['id'];?>/act/zhongshen.html">审批</a>
            <?php }else if($v['case_status'] == 'chushen' && !isAuth($v['case_status'])){?>
            <span style="color:#A0A0A0">审批</span>
            <?php }else if(($v['case_status'] == 'caiji' && isAuth($v['case_status'])) || ($v['case_status'] == 'bohuiCs' && isAuth($v['case_status']))){?>
            <a href="index.php?s=/Case/trial/id/<?php echo $v['id'];?>/act/chushen.html">初审</a>
            <?php }else if(($v['case_status'] == 'caiji' && !isAuth($v['case_status'])) || ($v['case_status'] == 'bohuiCs' && !isAuth($v['case_status']))){?>
            <span style="color:#A0A0A0">初审</span>
            <?php }else if(($v['case_status'] == 'bohuiC' && isAuth($v['case_status']))){?>
            <a href="index.php?s=/Case/index/id/<?php echo $v['id'];?>.html">采集</a>
            <?php }?>
            <?php if (UID == 1) { ?>
            <a href="index.php?s=/Case/suoyou/id/<?php echo $v['id'];?>.html">删除</a>
            <?php } ?>
        </td>
    </tr>
          <?php } } else { ?>
            <tr><td colspan="9" class="text-center">暂无数据</td></tr>
           <?php } ?>
    </tbody>
    </table>
    </div>
    <div class="page">
        {$Page}
    </div>
</block>
<block name="script">


<script type="text/javascript">
    /* 插件块关闭操作 */
    $(".title-opt .wm-slide").each(function(){
        $(this).click(function(){
            $(this).closest(".columns-mod").find(".bd").toggle();
            $(this).find("i").toggleClass("mod-up");
        });
    })
    $(function(){
        // $('#main').attr({'id': 'indexMain','class': 'index-main'});
        $('.copyright').html('<div class="copyright"> ©2013 <a href="http://www.topthink.net" target="_blank">topthink.net</a> 上海顶想信息科技有限公司版权所有</div>');
        $('.sidebar').remove();
    })
</script>
</block>