<extend name="Public/base1"/>

<block name="sidebar"></block>

<block name="style">
<style>
body{padding: 0}
</style>
</block>

<block name="body">

    <!-- 主体 -->
    <!-- <div id="indexMain" class="index-main"> -->
       <!-- 插件块 -->
       <!-- <div class="container-span">{:hook('AdminIndex')}</div>
    </div> -->
  <!--   <div>
        <div class="bottom-erji" style="top:50px;position:fixed;left:0;right:0">
           <ul>
               <li class="active"><a href="{:U('Index/index')}">所有案件</a></li>
               <li><a href="{:U('Case/daichu')}">待处理</a></li>
               <li><a href="{:U('Case/wancheng')}">完成处理</a></li>
               <li><a href="">正在处理</a></li>
               <li><a href="{:U('Case/guidang')}">归档案件</a></li>
           </ul>
           <div class="search-form fr cf">
           <div class="sleft">
               <input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
               <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
           </div>
       </div>
       </div>
    </div>
    <div class="main-title">
    </div> -->
    <!-- <div class="cf"> -->
        <!-- <div class="fl">
            <a class="btn" href="{:U('User/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('User/changeStatus',array('method'=>'deleteUser'))}" target-form="ids">删 除</button>
        </div> -->

        <!-- 高级搜索 -->

    <!-- </div> -->
    <!-- 数据列表 -->
    <form action='{:U("suoyou")}' method='post'>
        <div style='float: left; margin-bottom: 2px;'>
            <span>搜索案件</span>
            <select name='city' id='city'>
                <option value='0'>请选择县/市/区</option>
                <foreach name='list_top' item='v'>
                    <option value='{$v.region_id}' 
                    <if condition='$v.region_id eq $city'>selected</if> >{$v.region_name}</option>
                </foreach>
            </select>
            <select name='town' id='town'>
                <option value='0'>请选择街/镇</option>
            </select>
            <select name='country' id='country'>
                <option value='0'>请选择村/社区</option>
            </select>
            <select name='sex' id='enrollSex'>
                <option value='0'>请选择性别</option>
                <option value='2' <if condition='$sex == 2'>selected</if> >男</option>
                <option value='1' <if condition='$sex == 1'>selected</if>>女</option>
            </select>
            <input type='text' name='name' id='name' placeholder='请输入搜索关键字' value='{$name}'>
            <select name='date' id='date'>
                <option value='0'>全部日期</option>
                <option value='1' <if condition='$date == 1'>selected</if> >手动选择日期</option>
            </select>
            <div class='chooseDate'>
                <input  type='text' name='start' id='start' readonly> 至
                <input  type='text' name='end' id='end' readonly>
            </div>
            <input type='submit' id='filter' name='submit' value='搜索' class='btn'>
            <a href='javascript:enrollCase()' class='btn enroll'>导出</a>
        </div>
    </form>

    <div class="data-table table-striped" >
    <table class="">
    <thead>
    <tr><th colspan="13" style="text-align:center">社会保护人员基本信息</th></tr>
        <tr>
        <th class="">序号</th>
        <th class="">登记时间</th>
        <th >姓名</th>
        <th >性别</th>
        <th >年龄</th>
        <th >民族</th>
        <th >家庭住址</th>
        <th >健康状况</th> 
        <th class="" >摸底上报风险等级</th>
        <th class="" >机构评估风险等级</th>
        <th class="" >帮扶后最高风险等级</th>
        <th class="" >流程</th>
        <th class="" >操作</th>
        </tr>
    </thead>
    <tbody>
    <?php
        if (isset($CaseList) && !empty($CaseList)) { 
         foreach ((array)$CaseList as $k => $v) { ?>
    <tr>
        <td><?php echo $k+1?></td>
        <td><?php echo date("Y-m-d",$v['fill_in_time'])?></td>
        <td><?php echo $v['name']?></td>
        <td><?php echo getSex($v['sex'])?></td>
        <td><?php echo getAge($v['birthday'])?></td>
        <td><?php echo $v['nation']?></td>
        <td><?php echo $v['home_address']?></td>
        <td><?php 
            $health = unserialize($v['health']);
            foreach ($health as $val) {?>
            <?php echo getHealth($val,$v['id']);?><br>
            <?php }?>
        </td>
        <td><?php $fengxian = unserialize($v['growth_dilemma']);
                foreach ($fengxian as $v1) {
                    $str[] = getFengxian($v1);
                }
                echo max($str);
                ?></td>
        <td><?php $fengxians = unserialize($v['growth_dilemmas']);
                foreach ($fengxians as $v2) {
                    $strs[] = getFengxian($v2);
                }
                echo max($strs);
                ?></td>
        <td><?php $fengxianss = unserialize($v['growth_dilemmass']);
                foreach ($fengxianss as $v2) {
                    $strss[] = getFengxian($v2);
                }
                echo max($strss);
                ?></td>
        <?php
            $turn_related = M('case')->where(array('id'=>$v['id']))->getField('turn_related');
        ?>

        <td>
            {:getProcess($v['case_status'], $v['stage_status'])}
        </td>

        <td>
            <?php if(($v['case_status'] == 'jiean' && IS_AUTH) || ($v['case_status'] == 'huifang' && IS_AUTH)){?>
            <span style="color:#A0A0A0">完成</span>
            <a href="index.php?s=/Case/visit/id/<?php echo $v['id'];?>/act/huifang.html">查看</a>
            <?php }else if(($v['case_status'] == 'weihuifang' && IS_AUTH)){?>
            <a href="index.php?s=/Case/visit/id/<?php echo $v['id'];?>/act/huifang.html">回访</a>
            <?php }else if($v['case_status'] == 'weihuifang' && !IS_AUTH){?>
            <span style="color:#A0A0A0">回访</span>
            <a href="{:U('Case/finish',array('id'=>$v['id']))}">查看</a>
            <?php }else if(($v['case_status'] == 'chuzhi' && IS_AUTH)){?>
            <a href="index.php?s=/Case/finish/id/<?php echo $v['id'];?>/act/jiean.html">结案</a>
            <?php }else if($v['case_status'] == 'chuzhi' && !IS_AUTH){?>
            <span style="color:#A0A0A0">结案</span>
            <?php }else if(($v['case_status'] == 'diaodu' && IS_AUTH) || ($v['case_status'] == 'diaodu' && IS_AUTH)){?>
            <a href="index.php?s=/Case/deal_with/id/<?php echo $v['id'];?>/act/chuzhi.html">处置</a>
            <?php }else if(($v['case_status'] == 'diaodu' && !IS_AUTH) || ($v['case_status'] == 'diaodu' && !IS_AUTH)){?>
            <span style="color:#A0A0A0">处置</span>
            <?php }else if(($v['case_status'] == 'shenpi' && IS_AUTH) || ($v['case_status'] == 'bohuiCz' && IS_AUTH)){?>
            <a href="index.php?s=/Case/dispatch/id/<?php echo $v['id'];?>/act/diaodu.html">调度</a>
            <?php }else if(($v['case_status'] == 'shenpi' && !IS_AUTH) || ($v['case_status'] == 'bohuiCz' && !IS_AUTH)){?>
            <span style="color:#A0A0A0">调度</span>
            <?php }else if(($v['case_status'] == 'chushen' && IS_AUTH)){?>
            <a href="index.php?s=/Case/last_instance/id/<?php echo $v['id'];?>/act/zhongshen.html">审批</a>
            <?php }else if($v['case_status'] == 'chushen' && !IS_AUTH){?>
            <span style="color:#A0A0A0">审批</span>
            <?php }else if(($v['case_status'] == 'caiji' && IS_AUTH) || ($v['case_status'] == 'bohuiCs' && IS_AUTH)){?>
            <a href="index.php?s=/Case/trial/id/<?php echo $v['id'];?>/act/chushen.html">初审</a>
            <?php }else if(($v['case_status'] == 'caiji' && !IS_AUTH) || ($v['case_status'] == 'bohuiCs' && !IS_AUTH)){?>
            <span style="color:#A0A0A0">初审</span>
            <?php }else if(($v['case_status'] == 'bohuiC' && IS_AUTH)){?>
            <a href="index.php?s=/Case/index/id/<?php echo $v['id'];?>.html">采集</a>
            <?php }else if($uid !== 3){?>
            <span style="color:#A0A0A0">采集</span>
            <?php }?>
            <?php if (UID == 1) { ?>
            <a href="index.php?s=/Case/suoyou/id/<?php echo $v['id'];?>.html">删除</a>
            <?php } ?>
        </td>
    </tr>
          <?php } } else { ?>
            <tr><td colspan="9" class="text-center">暂无数据</td></tr>
           <?php } ?>
    </tbody>
    </table>
    </div>
    <div class="page">
        {$Page}
    </div>
</block>
<block name="script">

<link href='__PUBLIC__/static/layui/css/layui.css'>
<script src='__PUBLIC__/static/layui/layui.all.js'></script>
<!-- 时间插件js rel='stylesheet'属性必写-->
<link rel='stylesheet' href='__PUBLIC__/static/pickmeup/pickmeup.css'>
<script src='__PUBLIC__/static/pickmeup/pickmeup.js'></script>
<script type="text/javascript">

        //时间插件
        var now = new Date().getTime();
        pickmeup('#start', {
            position: 'bottom',
            hide_on_select: true,
            locale: 'ch',
            format: 'Y-m-d',
            date: '{:date("Y-m-d", $start)}',
            max: '' + now + '',
        });

        pickmeup('#end', {
            position: 'bottom',
            hide_on_select: true,
            locale: 'ch',
            format: 'Y-m-d',
            date: '{:date("Y-m-d", $end)}',
            max: '' + now + '',
        });

        //选择县市区
        $('#city').on('change', function(){
            var value = this.value;
            $.post("{:U('Case/Linkage_top')}", {id: value, type: 3}, function (res) {
                if(value > 0)
                    $('#town').html(res);
                else
                    $('#town').html('<option value="0">请选择街/镇</option>');

                //初始化村/社区
                $('#country').html('<option value="0">请选择村/社区</option>');
                <?php if($city > 0){ ?>
                    $('#town').find('option[value=<?php echo $town?>]').prop('selected', true);
                <?php } ?>
                <?php if($town > 0){ ?>
                    $('#town').change();
                <?php } ?>
            });
        });

        //选择街镇
        $('#town').on('change', function(){
             var value = this.value;
             $.post("{:U('Case/Linkage_top')}", {id: value, type: 4}, function (res) {
                if(value > 0)
                    $('#country').html(res);
                else
                    $('#country').html('<option value="0">请选择街/镇</option>');
                <?php if($city > 0){ ?>
                    $('#country').find('option[value=<?php echo $country?>]').prop('selected', true);
                <?php } ?>
            });
        });

        //选择city初始化
        <?php if($city > 0) { ?>
            $('#city').change();
        <?php } ?>


/*    $('#select_,#select_sex').change(function(){
        var option_value = $(this).find("option:selected").val();
        switch (option_value){
            case '1' :
                $('#myform_excle').children().remove();
                $('#myform_excle').append('<span>全部:</span><input type="text" name="all" id="all" value="all"/> <input type="hidden" name="leix" value="all"/> <input type="hidden" name="meet_id" value="{:I(\'meet_id\')}"/> <input type="submit" class="btn" ></a>');
                break;

            case option_value :
                $('#myform_excle').children().remove();
                $('#myform_excle').append('<span></span><input type="hidden" name="shequ" id="shequ" value="<?php echo getShequ('+option_value+')?>"/> <input type="hidden" name="leix" value="'+option_value+'"/> <input type="hidden" name="meet_id" value="{:I(\'meet_id\')}"/> <input type="submit" class="btn" ></a>');
                break;
           case '3' :
               $('#myform_excle').children().remove();
               $('#myform_excle').append(' <span>编号:</span><input type="text" name="no_start" id="no_start" value=""/> - <input type="text" name="no_end" id="no_end" value=""/> <input type="hidden" name="leix" value="enroll_no"/> <input type="hidden" name="meet_id" value="{:I(\'meet_id\')}"/> <input type="submit" class="btn" ></a> ');
               break;
        }
    });*/
    $(function(){
        var action = "<?php echo ACTION_NAME;?>";
        $("#action").val(action);
    })
    /* 插件块关闭操作 */
    $(".title-opt .wm-slide").each(function(){
        $(this).click(function(){
            $(this).closest(".columns-mod").find(".bd").toggle();
            $(this).find("i").toggleClass("mod-up");
        });
    })
    $(function(){
        $('.sidebar').remove();
    });

    //导出案件
    var layer = layui.layer;
    var url = "{:U('Case/suoyou')}";
    function enrollCase(){
        var start = pickmeup('#start').get_date(false).getTime(),
            end   = pickmeup('#end').get_date(false).getTime(),
            sex   = $('#enrollSex').val(),
            city  = $('#city').val(),
            town  = $('#town').val(),
          country = $('#country').val(),
          name    = $('#name').val(),
          ifall   = $('#date').val(),
          data    = {
                    start   : start,
                    end     : end,
                    sex     : sex,
                    city    : city,
                    town    : town,
                    date    : ifall,
                    country : country,
                    name    : name,
                    type    : 'enroll',
                  };
        $.post(url, data, function(res) {
            if(res.result == 1){
                layer.msg(res.msg, {icon: 1, time: 4000});
                location.href = res.url;
            }
            else
                layer.alert(res.msg);
        }, 'json');
    }

    //全部日期--手动选择日期 切换
    $('#date').on('change', function(){
        parseInt(this.value) ? $('.chooseDate').css('display', 'inline') : $('.chooseDate').hide();
    });

    //全部日期---手动选择 初始化
    <?php if($date > 0) { ?>
        $('#date').change();
    <?php } ?>

    //判断筛选日期是否
    $('#filter,.enroll').on('click', function(){
        if($('#date').val() > 0){
            var start = pickmeup('#start').get_date(false).getTime();
            var end   = pickmeup('#end').get_date(false).getTime();
            if(start > end){
                event.preventDefault();
                layer.alert('筛选日期范围不正确!');
            }
        }
    });


</script>
</block>