<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增用户</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">用户名<span class="check-tips">（用户名会作为默认的昵称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">密码<span class="check-tips">（用户密码不能少于6位）</span></label>
            <div class="controls">
                <input type="password" class="text input-large" name="password" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">确认密码</label>
            <div class="controls">
                <input type="password" class="text input-large" name="repassword" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">邮箱<span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="email" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">联系电话</label>
            <div class="controls">
                <input type="text" class="text input-large" name="mobile" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">选择所属部门</label>
            <select class="select input-large" name="department">
                <option value="0">选择部门</option>
                <?php
                foreach ($department as $k => $v) {
                echo "<option value=" . $k . ">" . $v . "</option>";
                }
                ?>
            </select>
        </div>
        <div class="form-item">
            <label class="item-label">选择所属区域</label>
            <select class="select " name="area_code" id="City2" onChange="nav2(this,3)">
                <option value=''> 请选择市/区 </option>
                <?php
                foreach ($list_top as $v) {
                    echo "<option value=".$v['region_id']."> ".$v['region_name']." </option>";
                }?>
            </select>
            <select class="select " name="street_code" id="Town2" onChange="nav2(this,4)">
                <option value=''> 请选择街/镇 </option>
            </select>
            <select class="select " name="community_code" id="Country2">
                <option value=''> 请选择村/社区 </option>
            </select>
        </div>
        <br/>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
    <script>
        function nav2(obj, type) {
            $.post("{:U('Case/Linkage_top')}", {"id": obj.value, "type": type}, function (res) {
                if (type == 3) {
                    if (obj.value > 0) {
                        $("#Town2").html(res);
                    } else {
                        $("#Town2").html("<option>请选择街/镇</option>");
                    }
                    $("#Country2").html("<option>请选择村/社区</option>");
                } else if (type == 4) {
                    if (obj.value > 0) {
                        $("#Country2").html(res)
                    } else {
                        $("#Country2").html("<option>请选择村/社区</option>");
                    }
                }
            })
        }
    </script>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
