<extend name="Public/base" />
<!-- <block name="sidebar"></block> -->
<block name="style">
    <style>
        body{padding: 0}
        .sidebar{display:none;}
    </style>
</block>
<block name="body">
	<!-- 标题栏 -->
		<div class="tab-wrap">
		<ul class="tab-nav nav">
		<li class="current"><a href="{:U('updatenickname', array('uid' => I('uid')))}">修改昵称</a></li>
		<li ><a href="{:U('updatepassword', array('uid' => I('uid')))}">修改密码</a></li>
		</ul>
		<div class="tab-content">
	<!-- 修改密码表单 -->
    <form action="{:U('User/submitNickname')}" method="post" class="form-horizontal" autocomplete="off">
		<div class="form-item">
			<label class="item-label">昵称：<span class="check-tips">（请输入新昵称）</span></label>
			<div class="controls">
				<input type="text" name="nickname" class="text input-large" autocomplete="off" value="{$nickname}"/>
			</div>
		</div>
		<input type="hidden" name="uid" value="<?php echo $uid;?>">
		<div class="form-item">
			<label class="item-label">联系电话</label>
			<div class="controls">
				<input type="text" class="text input-large" name="mobile" value="">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">选择所属部门</label>
			<select class="select input-large" name="department">
				<option value=" ">选择部门</option>
				<?php
                foreach ($department as $k => $v) {
				echo "<option value=" . $k . ">" . $v . "</option>";
				}
				?>
			</select>
		</div>
		<br/>
		<div class="form-item">
			<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 认</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
	</div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>
